<app-header></app-header>

<div class="container mt-5">
  <h1>Cadastro de Acompanhamento Pedagógico</h1>
  <form (ngSubmit)="salvarAcompanhamento()">
    <select class="form-control" [(ngModel)]="selectedAluno" name="aluno">
      <option *ngFor="let aluno of alunos" [value]="aluno.id">{{ aluno.nome }}</option>
    </select>
    <select class="form-control" [(ngModel)]="selectedPedagogo" name="pedagogo">
      <option *ngFor="let pedagogo of pedagogos" [value]="pedagogo.id">{{ pedagogo.username }}</option>
    </select>
    <input type="date" class="form-control" [value]="getCurrentDate()" [(ngModel)]="dataAcompanhamento" name="dataAcompanhamento">
    <input type="text" class="form-control" placeholder="Título do acompanhamento" [(ngModel)]="tituloAcompanhamento" name="tituloAcompanhamento">
    <textarea class="form-control" placeholder="Descrição do acompanhamento" [(ngModel)]="descricaoAcompanhamento" name="descricaoAcompanhamento"></textarea>
    <input type="checkbox" [(ngModel)]="finalizado" name="finalizado">
    <button type="submit" class="btn btn-primary">Salvar</button>

    <button routerLink="/pedagogic-support">Voltar para a lista de acompanhamentos pedagógicos</button>
  </form>
</div>
