<div class="container">
    <h1>Cadastro de Alunos</h1>
    <form>
        <input type="text" class="form-control" placeholder="Nome">
        <input type="text" class="form-control" placeholder="Telefone">
        <input type="date" class="form-control" placeholder="Data de nascimento">
        <input type="text" class="form-control" placeholder="CPF">
        <input type="number" class="form-control" placeholder="Nota">
        <button class="btn btn-primary">Salvar</button>
    </form>
</div>

