<app-header></app-header>

<div class="container mt-5">
    <h1>Cadastro de Alunos</h1>
    <form>
        <input type="text" class="form-control" placeholder="Nome">
        <input type="text" class="form-control" placeholder="Telefone">
        <input type="date" class="form-control" placeholder="Data de nascimento">
        <input type="text" class="form-control" placeholder="CPF">
        <input type="number" class="form-control" placeholder="Nota">
        <button class="btn btn-primary">Salvar</button>

        <button routerLink="/students">Voltar para a lista de alunos</button>
    </form>
</div>

