<app-header></app-header>

<div class="container mt-5">
    <h1>Listagem de Acompanhamentos Pedagógicos</h1>
    <input type="text" class="form-control mb-4" placeholder="Filtro pelo título do acompanhamento">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" *ngFor="let acompanhamento of acompanhamentos$ | async; trackBy: trackByFn">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{acompanhamento.titulo}}</h5>
            <p class="card-text">Data: {{acompanhamento.data}}</p>
            <p class="card-text">Descrição: {{acompanhamento.descricao}}</p>
            <p class="card-text">Aluno ID: {{acompanhamento.alunoId}}</p>
            <p class="card-text">Pedagogo ID: {{acompanhamento.pedagogoId}}</p>
            <p class="card-text">Finalizado: {{acompanhamento.finalizado ? 'Sim' : 'Não'}}</p>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" routerLink="/pedagogic-support/create">Cadastrar novo acompanhamento</button>
</div>

