<div class="container my-5">
    <div class="d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 40px);">
      <div class="card p-2" style="width: 800px; max-width: 100%; background-color: #f5f5f5;">
        <div class="container">
          <img src="../../../assets//img/labScool-logo.png" alt="Logo" style="width: 200px; height: 200px; object-fit: cover; display: block; margin-left: auto; margin-right: auto;">
          <h2 class="text-center">Formulário de Cadastro</h2>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="fullname" class="form-label">Nome Completo</label>
                <input type="text" class="form-control" id="fullname" [(ngModel)]="fullname" name="fullname" required>
              </div>
              <div class="mb-3">
                <label for="phone" class="form-label">Telefone</label>
                <input type="text" class="form-control" id="phone" [(ngModel)]="phone" name="phone" maxlength="16" required>
              </div>
              <div class="mb-3">
                <label for="birthdate" class="form-label">Data de Nascimento</label>
                <input type="date" class="form-control" id="birthdate" [(ngModel)]="birthdate" name="birthdate" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="cpf" class="form-label">CPF</label>
                <input type="text" class="form-control" id="cpf" [(ngModel)]="cpf" name="cpf" maxlength="14" required>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" minlength="8" required>
              </div>
              <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirme a Senha</label>
                <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" minlength="8" required>
              </div>
            </div>
          </div>
          <div class="mb-3" *ngIf="errorMessage">
            <div class="alert alert-danger">{{ errorMessage }}</div>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="isLoading">Cadastrar</button>
        </div>
      </div>
    </div>
  </div>
  
  
  